# chat
node_modules
node_modules/**
node_modules/*
./node_modules/*
./*.zip/*
/dist/

/chat/build/*
/chat/build

# admin
/chat/node_modules/
/chat/dist/

# service
/chat/node_modules/
/chat/service/.env
/chat/service/**/.env
/chat//dist/

.idea/
*.log
*.iml
node_modules/
