# chat
node_modules
node_modules/**
node_modules/*
./node_modules/*
./*.zip/*
/dist/

/chat/build/*
/chat/build

# admin
admin/node_modules/
admin/dist/

# service
service/node_modules/
service/service/.env
service/**/.env
service/dist/

.idea/
*.log
*.iml
node_modules/
